:root {
    --purple: purple;
    counter-reset: countTracker;
}

body {
    box-sizing: border-box;
    color: var(--purple);
}

h1::before{
    /*counter-increment: countTracker;*/
    /*content: '#' counter(countTracker);*/
}