*{
    box-sizing: border-box;
}

:root {
    --bg-color: #ded1d1;
    --text-color: darkgray;
}

h1{
    text-align: center;
}

.bgcolor {
    background-color: var(--bg-color);

}

.barheight {
    height: 5em;
}

.responsive {
    width: 10%;
    height: auto;
}

.img-logo {
    width: 108px;
    height: 108px;
}


@media screen and (min-width: 576px) {

}

@media screen and (min-width: 768px) {
    .img-logo {
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 992px) {
    .img-logo {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 1200px) {

}

@media screen and (min-width: 1400px) {

}




